.holidayContainer {
    padding-left: 16px;
    padding-right: 16px;
    gap:5px !important;
}

.holidayContainerTwo {
    padding-left: 16px;
    padding-right: 16px;
    gap:30px !important;
}

.holidayItem {
    padding: 4px 0;
}

.holidayDate {
    font-size: 0.75rem;
    font-weight: 600;
    color: #666;
}

.holidayTitle {
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 4px;
}

.holidaySubText {
    font-size: 0.9rem;
    margin-top: 4px;
}

.holidayDivider {
    margin-top: 7px;
    color: #999;
}

.viewAllLink {
    margin-bottom: 5px !important;
} 

.dividerLine {
    width: 100%;
    height: 2.5px;
    border-bottom: 2px dashed #999;
}
/* Space between list and link */
#ProductList {
    margin-bottom: 6px !important;
}

.viewAllLink {
    margin-top: 0 !important;
    padding-top: 0;
}
